@{
    ViewData["Title"] = "Home";
}

<div class="hero-section text-center">
    <div class="container">
        <h1 class="display-4 fw-bold mb-3">PJ&P Installation Management System</h1>
    </div>
</div>
